* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.players {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.computer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.computer p {
    border: 2px solid black;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lig;
}



button {
    width: 150px;
    height: 50px;
    background-color: #e7e7e7;
}